<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747137799285-shk93pj126r95179iqc91itu823mhck3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747137799285-shk93pj126r95179iqc91itu823mhck3</string>
	<key>API_KEY</key>
	<string>AIzaSyDglsNdesKo7fyz7ch9UZ8YhX1SXodyg7k</string>
	<key>GCM_SENDER_ID</key>
	<string>747137799285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daitongxu.FitHealthPlus</string>
	<key>PROJECT_ID</key>
	<string>fithealthplus-g19</string>
	<key>STORAGE_BUCKET</key>
	<string>fithealthplus-g19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747137799285:ios:d754ab4115267bb25fd43c</string>
	<key>DATABASE_URL</key>
	<string>https://fithealthplus-g19.firebaseio.com</string>
</dict>
</plist>